/.Rproj.user/
**/*.Rhistory
**/*.Rproj
**/*.DS_Store
/.RData
/quick_start_guide/*synctex.gz
/quick_start_guide/*.out
/quick_start_guide/*.aux
/quick_start_guide/*.tex
testing/
simulate_data/simulated_data/*
