*.pdf
zigzag/.Rproj.user/
zigzag/**.Rhistory
zigzag/.RData
zigzag/quick_start_guide/*synctex.gz
zigzag/quick_start_guide/*.out
zigzag/quick_start_guide/*.log
zigzag/quick_start_guide/*.aux
zigzag/quick_start_guide/*.tex
testing/
simulate_data/simulated_data/*
